.base{
    position: relative;
    left: 300px;
    background: #d3c49b;
    height: 870px;
    width: 690px;
    border: 2px solid;
}

.text1{
    position: relative;
    left: 520px;
    top: 10px;
    display: block;
    height: 200px;
    width: 150px;
    background: #d3c49b;
}
.one{
    position: relative;
    right: 0;
    top: -420px;
    z-index: 0;
    bottom: 0;
    left: 30px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    width: 150px;
}
.two{
    position: relative;
    display: block;
    left: 190px;
    top: -567px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.ad1{
    position: relative;
    display: block;
    height: 270px;
    width: 150px;
    top: -662px;
    left: 30px;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}
.ad11{
    position: relative;
    display: block;
    height: 270px;
    width: 150px;
    top: -1030px;
    left: 35px;
    text-align: center;
}
.ad12{
    position: relative;
    display: block;
    height: 270px;
    width: 150px;
    top: -1280px;
    left: 30px;
    font-size: 12px;
    text-align: center;
}
.ad13{
    position: relative;
    display: block;
    height: 270px;
    width: 150px;
    top: -1505px;
    left: 30px;
    font-size: 12px;
    text-align: center;
}
.ad2{
    position: relative;
    display: block;
    height: 200px;
    width: 119px;
    top: -872px;
    left: 190px;
    letter-spacing: 2px;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}
.three{
    position: relative;
    top: -570px;
    left: 190px;
    width: 119px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}
.text2{
    position: relative;
    display: block;
    position: relative;
    left: 340px;
    top: -210px;
    display: block;
    height: 200px;
    width: 150px;
    background: #d3c49b;
}
.four{
    position: relative;
    top: -580px;
}
.wanted{
    position: relative;
    bottom: 1870px;
    display: block;
    height: 380px;
    width: 280px;
    left: 28px;
    font-size: 20px;
    text-align: center;
    word-spacing: 20px;
    text-indent: 30px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom:1px solid #000;
}
.op1{
    position: relative;
    top: -5px;
}
.op2{
    position: relative;
    top: 130px;
}
.textop2{
    position: relative;
    height: 40px;
    width: 100px;
    top: -2180px;
    left: 50px;
    text-align: left;
    font-size: 9px;
}
.textop22{
    position: relative;
    height: 40px;
    width: 110px;
    top: -2230px;
    left: 190px;
    text-align: right;
    font-size: 9px;
}
.sam{
    position: absolute;
    height: 80px;
    width: 70px;
    top: -1660px;
    left: 135px;
    font-size: 17px;
    letter-spacing: normal;
    text-align: center;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom:1px solid #000;
}