.base{
    position: relative;
    left: 300px;
    background: #d3c49b;
    height: 900px;
    width: 700px;
    border: 2px solid;
}

.text1{
    position: relative;
    left: 520px;
    top: 10px;
    display: block;
    height: 200px;
    width: 150px;
    background: #d3c49b;
}
.one{
    position: relative;
    right: 0;
    top: -420px;
    z-index: 0;
    bottom: 0;
    left: 30px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    width: 150px;
}
.two{
    position: relative;
    display: block;
    left: 190px;
    top: -567px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.ad1{
    position: relative;
    display: block;
    height: 270px;
    width: 150px;
    top: -662px;
    left: 30px;
    font-size: 12px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}
.ad11{
    position: relative;
    display: block;
    height: 270px;
    width: 150px;
    top: -932px;
    left: 40px;

}
.ad2{
    position: relative;
    display: block;
    height: 200px;
    width: 119px;
    top: -880px;
    left: 190px;
    letter-spacing: 2px;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}
.three{
    position: relative;
    top: -570px;
    left: 190px;
    width: 119px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}
.text2{
    position: relative;
    display: block;
    position: relative;
    left: 340px;
    top: -210px;
    display: block;
    height: 200px;
    width: 150px;
    background: #d3c49b;
}
.four{
    position: relative;
    top: -550px;
}