.base{
    position: relative;
    left: 300px;
    background: #d3c49b;
    height: 900px;
    width: 700px;
    border: 4px solid;
}

.text1{
    position: relative;
    left: 520px;
    top: 20px;
    display: block;
    height: 200px;
    width: 150px;
    background: #d3c49b;
}
.one{
    position: relative;
    right: 0;
    top: -383px;
    z-index: 0;
    bottom: 0;
    left: 30px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    width: 150px;
}
.two{
    position: relative;
    display: block;
    left: 190px;
    top: -530px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}
.ad1{
    position: relative;
    display: block;
    height: 270px;
    width: 150px;
    top: -610px;
    left: 30px;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
}
.ad2{
    position: relative;
    display: block;
    height: 200px;
    width: 119px;
    top: -813px;
    left: 190px;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
}
.three{
    position: relative;
    top: -530px;
    left: 190px;
    width: 119px;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
}
.text2{
    position: relative;
    display: block;
    position: relative;
    left: 340px;
    top: -180px;
    display: block;
    height: 200px;
    width: 150px;
    background: #d3c49b;
}
.four{
    position: relative;
    top: -550px;
}